* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent
}

body {
    background-color: rgba(21, 66, 101, 1) 20%;
    background-image: radial-gradient(farthest-side ellipse at 10% 0, rgba(21, 66, 101, 1) 20%, rgba(115, 146, 194, 1));
    background-image: -webkit-radial-gradient(farthest-side ellipse at 10% 0, rgba(21, 66, 101, 1) 20%, rgba(115, 146, 194, 1));
    background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(21, 66, 101, 1) 20%, rgba(115, 146, 194, 1));
    background-attachment: fixed, fixed;
	position: absolute;
	width: 100%;
	min-height: 100%;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	line-height:1.428571429;
	color: rgba(248, 248, 248, 1);
	background-color: rgba(255, 255, 255, 1);
	margin: 0;
}

html, body {
	margin: 0;
	padding: 0;
	height: calc(100% - 10%);
	min-height: calc(100% - 10%);
}

.content {
	border-radius: 10px;
	width: 90%;
	min-width: 90%;
	background: rgba(51,51,51,0.5);
	padding: 20px 50px 20px 50px;
	margin: 50px auto;
	height: auto !important;
	min-height: calc(100% - 10%);
	z-index:10000;
	position: absolute;
	left: 5%;
}

.keycontent {
	border-radius: 10px;
	width: 90%;
	min-width: 90%;
	background: rgba(51,51,51,0.5);
	padding: 20px 50px 20px 50px;
	margin: 10px auto;
	height: auto !important;
	min-height: calc(100% - 30%);
	z-index:10000;
	position: absolute;
	left: 5%;
}

.keycontent1 {
	width: 100%;
	background: rgba(51,51,51,0.5);
	height: auto !important;
	min-height: 10%;
	z-index:10000;
	position: initial;
	left: 0;
}


.outputdiv {
	border-radius: 10px;
	width: 90%;
	min-width: 90%;
	background: rgba(51,51,51,0.5);
	margin: 50px 0px;
	padding: 10px 0 0 10px;
	position: absolute;
	bottom: 0;
}

.Keys {
	border-radius: 10px;
	width: 40%;
	min-width: 40%;
	background: rgba(51,51,51,0.5);
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 50px 0px;
	height: auto !important;
	min-height: 20%;
	z-index:10000;
	position: relative;
	float: left;
	text-align: left;
}

.KeyListContent {
	border-radius: 10px;
	width: 70%;
	min-width: 70%;
	background: rgba(51,51,51,0.5);
	padding: 20px 50px 20px 50px;
	margin: 50px auto;
	height: auto !important;
	min-height: calc(100% - 10%);
	z-index:100000;
	position: absolute;
	left: 15%;
	transition: all 1s;
}

.button {
	float: right;
	-webkit-appearance: none;
	background-color: rgba(78, 145, 206, 1);
	border: 1px solid rgba(78, 145, 206, 1);
	color: rgba(248, 248, 248 ,1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 3px;
	margin-bottom: -3px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	transition: background-color, border-color 0.3s;
}

.buttonkeyscontent {
	right: 30px;
	top: 30px;
	-webkit-appearance: none;
	background-color: rgba(78, 145, 206, 1);
	border: 1px solid rgba(78, 145, 206, 1);
	color: rgba(248, 248, 248 ,1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 3px;
	margin-bottom: -3px;
	border-radius: 3px;
	display: inline-block;
	position: inherit;
	transition: background-color, border-color 0.3s;
}

.button:hover, .buttonkeyscontent:hover {
	color: rgba(255, 255, 255, 1);
	background-color: #3378b6;
	border-color: #2b659b;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.DCSL {
	background-color: rgba(46, 49, 54, 1);
	padding: 1px 2px;
	border-radius: 3px;
	color: rgba(248, 248, 248, 1);
}
/* Form CSS content */
.ReqTip {
	color: rgba(165, 34, 34, 1);
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted rgba(0, 0, 0, 1);
}

.ReqTipText {
	visibility: hidden;
    width: 150px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
	position: absolute;
    z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -75px;
	margin-bottom: 3px;
}

.ReqTipTextBig {
	visibility: hidden;
    width: 400px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
	position: absolute;
    z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -200px;
	margin-bottom: 3px;
}

.ReqTip .ReqTipText, .ReqTip .ReqTipTextBig {
	opacity: 0;
	transition: opacity 0.3s;
}

.ReqTip:hover .ReqTipText, .ReqTip:hover .ReqTipTextBig {
	visibility: visible;
	opacity: 1;
}

.ReqTip .ReqTipText::after, .ReqTip .ReqTipTextBig::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.VarError {
	color: rgba(165, 34, 34, 1);
}
.prefix {
	width: 40px;
	text-align: center;
}
.input {
	border-radius: 3px;
	background-color: rgba(51,51,51,0.5);
	color: rgba(248, 248, 248, 1);
	border: 1px solid rgba(51, 51, 51, 1);
	padding: 1px;
}

.output {
	border-radius: 5px;
	resize: none;
	width: calc(100% - 10px) !important;
	background-color: rgba(51,51,51,0.5);
	color: rgba(248, 248, 248, 1);
	border: none;
	margin: 0 10px 10px 0;
	position: initial;
}

.EnablePar {
	float: right;
}

.EnableParBox {
	-webkit-appearance: none;
	background-color: none;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 6px;
	margin-bottom: -3px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.EnableParBox:active, .EnableParBox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.EnableParBox:checked {
	background-color: rgba(78, 145, 206, 1);
	border: 1px solid rgba(78, 145, 206, 1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(0, 0, 0,0.1);
	color: #99a1a7;
}

.EnableParBox:checked:after {
	content: '\2713';
	font-size: 12px;
	position: absolute;
	top: -2px;
	left: 2px;
	color: rgba(255, 255, 255, 1);
}

.MkARS {
	float: right;
}

.Keyparams {
	background-color: red;
}