.bold {
	font-weight: bold;
}

.skipbold {
	font-weight: normal !important;
}

.underline {
	text-decoration: underline;
}

.italic {
	font-style: italic;
}

.strikethrough {
	text-decoration: line-through;
}

.DCSL {
	background-color: rgba(46, 49, 54, 1);
	padding: 1px 2px;
	border-radius: 3px;
	color: rgba(248, 248, 248, 1);
}

.icon-search {
	color: rgba(248, 248, 248, 1);
	width: 15px;
	height: 15px;
}

.icon-search:before {
	content: "\1F50D";
}